#main-container {
  #content {
    margin: 13vh 0;
    #controls {
      .control {
        position: absolute;
        z-index: 10;
        line-height: 35;
        width: 70px;
        max-width: 70px;
        color: transparent;
        text-indent: -9999px;
        &.next { right: 0; }
        &.prev { left: 0; }
      }
    }
    .content-blocks {
      margin: 0 auto;
      .blocks {
        background: #f9f9f9;
        display:block;
        height:500px;
        position:relative;
        z-index: 8;
        box-shadow: 0 0 10px #101010;
        overflow: scroll;
        .contact {
          margin: 1em 0;
          text-align: center;
        }
        // margin-right: 350px;
        // &:first-child { background:#f9f9f9; }
        // &:nth-child(2) { background: red; }
        // &:nth-child(3) { background: blue; }
        // &:last-child { background: green; }
      }
    }
  }
}
