#main-container {
  #content {
    margin: 13vh 0;
    #controls {
      .control {
        position: absolute;
        z-index: 10;
        line-height: 35;
        width: 70px;
        max-width: 70px;
        color: transparent;
        text-indent: -9999px;
        &.next { right: 0; }
        &.prev { left: 0; }
      }
    }
    .slider-wrap {
      @media (max-width: 768px) { width: 100%!important; }
      .content-blocks {
        margin: 0 auto;
        @media (max-width: 768px) { width: 100%!important; }
        .blocks {
          background: #f9f9f9;
          display:block;
          height:500px;
          position:relative;
          z-index: 8;
          box-shadow: 0 0 10px #101010;
          overflow: scroll;
          @media (max-width: 768px) {
            float: none!important;
            margin: 5%!important;
            width: 90%!important;
            height: 100%!important;
          }
          .contact {
            margin: 1em 0;
            text-align: center;
          }
        }
      }
    }
  }
}
