#main-container {
  .hero-banner {
    background: url("../img/maw_site_bg.png") no-repeat center center fixed;
  	// background-size: cover;
  	background-position: 50%;
    max-height: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    h1 {
      font-size: 60px;
      text-shadow: 0 0 10px #000;
      text-transform: lowercase;
    }
  }
  .wrap {
    margin: 3em 0;
    .woocommerce {
      .col-1, .col-2 { max-width: 100%!important; }
    }
  }
  #content {
    margin: 13vh 0;
    #controls {
      .control {
        position: absolute;
        z-index: 10;
        line-height: 35;
        width: 70px;
        max-width: 70px;
        color: transparent;
        text-indent: -9999px;
        &.next { right: 0; }
        &.prev { left: 0; }
      }
    }
    .slider-wrap {
      @media (max-width: 768px) { width: 100%!important; }
      .content-blocks {
        margin: 0 auto;
        @media (max-width: 768px) { width: 100%!important; }
        .blocks {
          background: #f9f9f9;
          display:block;
          height:500px;
          position:relative;
          z-index: 8;
          box-shadow: 0 0 10px #101010;
          overflow-y: scroll;
          -ms-overflow-style: none;
          &::-webkit-scrollbar { width: 0px; }
          &.disable-scroll { overflow: hidden!important; }
          &:hover > #cast { opacity: 1!important; }
          &.social {
            display: flex!important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .social-row {
              padding: 5em 0;
              @media (max-width: 550px) {
                padding: 0;
              }
              a {
                color: #000;
                &:hover > i { color: #fff; }
                &:hover > i:before {
                  background: #000;
                }
                i {
                  padding: 0 2em;
                  font-size: 25px;
                  @media (max-width: 550px) { padding: 1em; }
                  &:before {
                    border: 2px solid #000;
                    padding: 5px 10px;
                    border-radius: 5px;
                  }
                }
              }
            }
          }
          #cast {
            background: rgba(0, 0, 0, 0.7);
            display: flex;
            position: absolute;
            width: 100%;
            height: 500px;
            top: 0;
            left: 0;
            opacity: 0;
            justify-content: center;
            align-items: center;
            transition: all 0.8s ease-in-out;
            @media (max-width: 768px) { height: 80vw; }
            a {
              outline: 0;
              font-size: 35px;
              font-weight: bold;
              text-transform: uppercase;
              color: #ffef00;
              button {
                cursor: pointer;
                display: block;
                position: absolute;
                z-index: 999;
                background: #000;
                border-color: #000;
                color: white;
                padding: 1em;
                top: calc(100% - 54%);
                left: calc(100% - 68%);
                text-transform: uppercase;
                font-weight: bold;
                width: 250px;
                &:hover {
                  background: #003ad5;
                }
              }
            }
          }
          #icons {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: absolute;
            top: 85%;
            img {
              display: flex;
              max-width: 200px;
              width: 200px;
              margin: 0 auto;
            }
          }
          @media (max-width: 768px) {
            float: none!important;
            margin: 5%!important;
            width: 90%!important;
            height: 80vw!important;
          }
          .content {
            margin: 2em;
            line-height: 2.7em;
          }
          .contact {
            margin: 1em 0;
            text-align: center;
          }
          ul {
            li {
              padding: 1.3em;
              border-bottom: 1px solid #e8e8e8;
              &:last-child { border: 0; }
            }
          }
        }
      }
    }
  }
}
